{% load bootstrap3 %}
{% load base %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any
	other head content must come *after* these tags -->
	<title>Judge system</title>
	<!-- Bootstrap -->
	<!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css"
	   rel="stylesheet">-->
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	{% block stylesheets %}
	{% endblock %}
	<style>
		.tag-label {
			margin: 5px;
			float: right;
		}
		textarea {
			font-family:monospace;
		}
	</style>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-68406954-1', 'auto');
	ga('send', 'pageview');
	</script>
</head>
<body style="padding-top: 75px;">
	{% block navbar %}
		{% base_nav %}
	{% endblock navbar %}

	<div class="container">
		{% bootstrap_messages %}

		{% block header-div %}
			<div class="page-header">
				{% block title %}{% endblock %}
			</div>
		{% endblock %}

		{% block content %}{% endblock %}
	</div>

	<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>

	{% block javascript %}

	{% endblock %}
</body>
</html>
