{% extends 'blog/base.html' %}
{% load blog %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'blog:post_list' %}">
                Blog
            </a>
        </li>
        <li>
            <a href="{% url 'blog:post_details' post.pk %}">
                {{ post.title }}
            </a>
        </li>
        <li class="active">
            {% block breadcrumb_active %}{% endblock %}
        </li>
    </ol>
	<div class="row">
		<div class="col-md-3">
			{% block edit_nav %}{% endblock %}
		</div>
		<div class="col-md-9">
			{% block edit_content %}{% endblock %}
		</div>
	</div>
{% endblock content %}
