{% extends 'blog/post_edit_base.html' %}
{% load blog %}

{% block title %}
	<h1> Delete blog post </h1>
{% endblock %}

{% block breadcrumb_active %}
    Delete
{% endblock %}

{% block edit_content %}
	<p class="lead">
		Are you sure you want to delete this blog post ?
		It will be deleted <span class="text-danger">FOREVER</span>
	</p>
	<form method="POST" action="{{ request.get_full_path }}">
		{% csrf_token %}
		<input type="submit" value="Delete blog post"
			class="btn btn-danger btn-block">
	</form>
{% endblock %}

{% block edit_nav %}
	{% blog_post_edit_nav post=post page='delete' %}
{% endblock %}
