{% extends 'blog/base.html' %}
{% load blog %}
{% load bootstrap_pagination %}

{% block title %}
	<h1>
		Blog
		{% post_admin_panel %}
	</h1>
{% endblock %}

{% block content %}
	{% for post in page.object_list %}
		<h2> 
			{{ post.title }} 
			{% post_admin_panel post=post %}
		</h2>
		<p class="lead">
			{{ post|post_subheading }}
		</p>
		{{ post.content|safe|truncatewords_html:100 }}
		<a href="{% url 'blog:post_details' post.pk %}">
			Read the full blog post
		</a>
	{% endfor %}
	<br>
	{% bootstrap_paginate page url_view_name='blog:post_page' range=20%}
{% endblock %}
