{% extends base_template %}

{% block title %}
	<h1> Tags </h1>
{% endblock %}

{% block content %}

	<a href="{% url 'tags:tag_new' %}"
		class="btn btn-default btn-block">
		New category
	</a>
	<br>
	{% for category in tags %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{ category.0 }}
				</h3>
			</div>
			<div class="list-group">
				{% for tag in category.1 %}
					<div class="list-group-item">
						<a href="{% url 'tags:tag_edit' tag.pk %}">
							{{ tag.label }}
						</a>
						<a href="{% url 'tags:tag_delete' tag.pk %}"
							style="float: right;">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
					</div>
				{% endfor %}
				<div class="list-group-item">
					<a href="{% url 'tags:tag_new' %}
							?category={{category.0}}" 
							class="btn btn-default btn-block">
						New Tag
					</a>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
