{% extends details_base %}
{% load bootstrap3 %}
{% load users %}

{% block title %}
	<h1>Change password</h1>
{% endblock %}

{% block user_nav %}
	{% user_nav page='change_password' %}
{% endblock %}

{% block user_content %}
		<h3>Password change</h3>
		<form method="POST" action="{{ request.get_full_path }}">
			{% bootstrap_form passwordForm %}
			{% csrf_token %}

			{% buttons%}
				<input type="submit" class="btn btn-primary btn-block" 
				   value="Change password">
			{% endbuttons %}
		</form>
{% endblock %}
