{% extends 'users/base_narrow.html' %}

{% load base %}
{% load bootstrap3 %}

{% block navbar %}
	{% base_nav page='login' %}
{% endblock %}

{% block title %}
	<h1> Login </h1>
{% endblock %}

{% block content_narrow %}
	<form method = "POST" action = "{{request.get_full_path}}">
		{% csrf_token %}
		{% bootstrap_form form %}

		<div class="row">
			<div class="col-md-6">
				{% buttons %}
					<input type="submit" value="Log in"
						  class="btn btn-primary btn-block">
				{% endbuttons %}
			</div>
			<div class="col-md-6">
				{% buttons %}
					<a href="{% url 'users:register' %}" 
						class="btn btn-block btn-default">
							Register
					</a>
				{% endbuttons %}
			</div>
		</div>
	</form>
	<a href="{% url 'users:password_reset' %}" >
		Reset password
	</a>

{% endblock %}
