{% extends base_template %}
{% load bootstrap3 %}

{% block navbar %}
	{% include base_navbar with page='login'%}
{% endblock %}

{% block title %}
	<h1> Login </h1>
{% endblock %}

{% block content %}
	<form method = "POST" action = "{{request.get_full_path}}">
		{% csrf_token %}
		{% bootstrap_form form %}

		<div class="row">
			<div class="col-md-4">
				<input type="submit" value="Log in"
					  class="btn btn-default btn-block">
			</div>
			<div class="col-md-4">
				<a href="{% url 'users:register' %}" 
					class="btn btn-primary btn-block">
					Register
				</a>
			</div>
			<div class="col-md-4">
				<a href="{% url 'users:password_reset' %}" 
					   class="btn btn-info btn-block">
					Reset password
				</a>
			</div>
		</div>

	</form>
{% endblock %}
