{% extends base_template %}
{% load bootstrap3 %}

{% block title %}
	<h1>Password reset</h1>
{% endblock %}

{% block content %}
<form method="POST" action="{{request.get_full_path}}">
	{% bootstrap_form form %}
	{% csrf_token %}

	<div class="row">
		<div class="col-md-6">
			<input type="submit" value="Reset password"
				 class="btn btn-primary btn-block">
		</div>
		<div class="col-md-6">
			<a href="{% url 'users:login' %}"
				class="btn btn-default btn-block">
				Login
			</a>
		</div>
	</div>
</form>
{% endblock content %}
