{% extends base_template %}

{% load base %}
{% load bootstrap3 %}

{% block navbar %}
	{% base_nav page='register' %}
{% endblock %}

{% block title %}
	<h1>Register</h1> 
{% endblock %}

{% block content %}
	<form method="POST" action="{{ request.get_full_path}}">
		{% csrf_token %}
		{% bootstrap_form form %}

		<div class="row">
			<div class="col-md-6">
				<input type="submit"  value="Register"
					  class="btn btn-default btn-block">
			</div> 
			<div class="col-md-6">
				<a href="{% url 'users:login' %}" class="btn btn-primary btn-block">
					Log in
				</a>
			</div>
		</div>
	</form>
{% endblock %}
