{% extends 'users/base_narrow.html' %}

{% load base %}
{% load bootstrap3 %}

{% block navbar %}
	{% base_nav page='register' %}
{% endblock %}

{% block title %}
	<h1>Register</h1> 
{% endblock %}

{% block content_narrow %}
	<form method="POST" action="{{ request.get_full_path}}">
		{% csrf_token %}
		{% bootstrap_form form %}

		<div class="row">
			<div class="col-md-6">
				{% buttons %}
					<input type="submit" value="Register"
						  class="btn btn-primary btn-block">
				{% endbuttons %}
			</div> 
			<div class="col-md-6">
				{% buttons %}
					<a href="{% url 'users:login' %}" 
						class="btn btn-default btn-block">
						Log in
					</a>
				{% endbuttons %}
			</div>
		</div>
	</form>
{% endblock %}
