{% extends base_template %}
{% load bootstrap3 %}

{% block navbar %}
	{% include base_navbar with page='register' %}
{% endblock %}

{% block title %}
	<h1>Register</h1> 
{% endblock %}

{% block content %}
	<form method="POST" action="{{ request.get_full_path}}">
		{% csrf_token %}
		{% bootstrap_form form %}

		{% buttons %}
			<input type="submit" class="btn btn-primary" value="Register">
			<a href="{% url 'users:login' %}" class="btn btn-info">
				Log in
			</a>
		{% endbuttons %}
	</form>
{% endblock %}
