<nav>
	<ul class="pagination">
		{% if page.has_previous %}
			<li>
			<a href="{% url url_name page.previous_page_number %}"  
					aria-label="Previous">
		{% else %}
			<li class="disabled">
			<a href="" aria-label="Previous">
		{% endif %}

			<span aria-hidden="true">&laquo;</span>
		</a>
		</li>
			

		{% if page.has_next %}
			<li>
			<a href="{% url url_name page.next_page_number %}"
			  aria-label="Next">
		{% else %}
			<li class="disabled">
			<a href="" aria-label="Next">
		{% endif %}

			<span aria-hidden="true">&raquo;</span>
		</a>
		</li>
	</ul>
</nav>
