{% extends 'judge/base.html' %}
{% load bootstrap3 %}

{% block navbar %}
	{% include 'judge/navbar.html' %}
{% endblock %}

{% block title %}
	<h1>Password reset</h1>
{% endblock %}

{% block content %}
<div class="well well-lg">
	<form method="POST" action="{{request.get_full_path}}">
		{% bootstrap_form form %}
		{% buttons %}
			<input class="btn btn-primary" type="submit" value="Reset password">
			<a class="btn btn-info" href="{% url 'judge:login' %}">
				Login
			</a>
		{% endbuttons %}
		{% csrf_token %}
	</form>
</div>
{% endblock content %}
