{% extends 'judge/problem_edit_base.html' %}
{% load judge %}

{% block title %}
<h1> 
    Delete {{ problem.title }}
</h1>
{% endblock %}

{% block breadcrumb_active %}
    Delete problem
{% endblock %}

{% block edit_content %}
		<p class="lead">
		Are you sure you want to delete this {{ modelType }} ?
			It will be deleted 
			<span class="text-danger">
				FOREVER
			</span>
		</p>
		<form method="POST" action="{{ request.get_full_path}}">
			{% csrf_token %}
			<input type="submit" class="btn btn-danger btn-block" 
				  value="Delete problem">
		</form>
{% endblock %}

{% block edit_nav %}
	{% problem_edit_nav page='delete' %}
{% endblock %}
