{% extends 'judge/base.html' %}

{% load bootstrap_pagination %}
{% load taggit_templatetags2_tags %}
{% load judge %}

{% block title %}
	<h1>
		Problem list
		{% problem_admin_panel %}
	</h1>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			<ul class="list-group">
			{% for problem in page.object_list %}
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-4">
							<a href="
								{% url 'judge:problem_details' problem.id %}">
								{{ problem.title }}
							</a>
						</div>
						<div class="col-sm-8">
							{% if not problem.visible %}
							<span class="label label-warning tag-label">
								Hidden
							</span>
							{% endif %}
							{% if problem.status == 'solved' %}
							<span class="label label-success tag-label">
									Solved
								</span>
							{% elif problem.status == 'attempted' %}
								<span class="label label-warning tag-label">
									Attempted
								</span>
							{% endif %}

							{% for tag in problem.tags.names %}
							<a href="{{ curTags|tags_url:tag }}">
								<span class="label tag-label
										{% if tag in curTags %}label-info
										{% else %}label-primary{% endif %}">
									{{tag}}
								</span>
							</a>
							{% endfor %}
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		{% bootstrap_paginate page url_extra_kwargs=paginate_extra_kwargs url_view_name=paginate_name range=20 %}
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						Tags
					</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						{% get_taglist as tags for 'judge.problem' %}
						{% for tag in tags|slice:":10" %}
							<a href="{{ curTags|tags_url:tag.name }}">
							<div class="list-group-item tag-selector
										{% if tag.name in curTags %}active{% endif %}">

								{{ tag.name }}
								<span class="badge"> {{ tag.num_times }} </span>

							</div>
							</a>
						{% empty %}
							There aren't any tags to filter with
						{% endfor %}
					</div>

					{% if tags %}
					<a class="btn btn-block btn-info" href="{% url 'judge:problem_filter' %}">
						Advanced options
					</a>
					{% endif %}
			</div>
			</div>
		</div>
	</div>
	
{% endblock content %}
