{% extends 'judge/base.html' %}
{% load judge %}
{% load markdown_deux_tags %}

{% block title %}
	<h1> 
		{{ problem.title }} 
		{% if not problem.visible %}
			<small>Hidden</small>
		{% endif %}
		{% problem_admin_panel problem=problem %}
	</h1>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<p> {{ problem.statement_html|safe }} </p>
	</div>

	<div class="col-md-4">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Your solutions</h3>
		</div>

		<div class="panel-body">
			{% if not request.user.is_authenticated %}
				<a href="{% url 'users:login' %}?next=
						{% url 'judge:solution_submit' problem.id %}">
					Login
				</a> 
				to submit a soltion	
			{% else %}
				<a class="btn btn-primary form-control"
						href="{% url 'judge:solution_submit' problem.id %}">
					Submit a solution
				</a>
				{% list_solutions solutions %}
			{% endif %}
		</div>
	</div>
	</div>
</div>
{% endblock content %}
