{% extends 'judge/base.html' %}
{% load judge %}

{% block title %}
	<h1> 
		{{ problem.title }} 
		{% if not problem.visible %}
			<small>Hidden</small>
		{% endif %}
	</h1>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<p> {{ problem.statement|safe }} </p>
	</div>

	<div class="col-md-4">
	{% problem_admin_panel problem=problem %}

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Your solutions</h3>
		</div>

		<div class="panel-body">
			{% if not request.user.is_authenticated %}
				<a href="{% url 'users:login' %}?next=
						{% url 'judge:solution_submit' problem.id %}">
					Login
				</a> 
				to submit a soltion	
			{% else %}
				<a class="btn btn-default form-control"
						href="{% url 'judge:solution_submit' problem.id %}">
					Submit a solution
				</a>

				{% if not solutions %} 
					You haven't submited any solutions.
				{% else %}
					<table class="table">
						<thead>
							<tr>
								<th> # </th>
								<th> Message </th>
								<th> Points </th>
								<th> Details  </th>
							</tr>
						</thead>
						<tbody>
						{% for sol in solutions %}
							<tr class="{{ sol|status_class }}">

								<td>{{forloop.counter }}</td>
								<td>{{sol.grader_message}}</td>
								<td>{{sol.score}} / 
									{{sol.problem.maxScore}}</td>
								<td> 
									<a href="
									{% url 'judge:solution_details' sol.id %}">
										view
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
				{% endif %}
			{% endif %}

		</div>
	</div>
	</div>
</div>
{% endblock content %}
