{% extends base_template  %}

{% load bootstrap3 %}
{% load base %}
{% load judge %}

{% block title %}
	<h1> 
		Solution Details 
	</h1>
{% endblock %}

{% block navbar %}
	{% base_nav page='judge' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		{% for group, results in results_by_group %}
			<div class="panel panel-default">
				<div class="panel-heading">
					{% if group %}
						<div class="row">
							<div class="col-sm-6">
								<h3>
									{{ group.test_group.name }}
								</h3>
							</div>
							<div class="col-sm-6">
								<span class="btn btn-block 
									btn-{{ group|status_class }}">
									{{ group.get_score|floatformat }} / 
									{{ group.test_group.score|floatformat }}
								</span>
							</div>
						</div>
					{% else %}
						<h3>
							No test group
						</h3>
					{% endif %}
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th> # </th>
								<th> Points </th>
								<th> Message </th>
								<th> Execution time</th>
							</tr>
						</thead>

						<tbody>
							{% for res in results %}
								<tr class="{{ res|status_class }}">
									<th>{{ forloop.counter }}</th>
									<td>
										{% if res.test.test_group %}
											-
										{% else %}
											{{ res.score|floatformat }} /
											{{ res.test.score|floatformat }}
										{% endif %}
									</td>
									<td>{{ res.message }}</td>
									<td>{{ res.exec_time }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Information</div>

			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr>	
							<th> Task </th>
							<td>
								<a href=
									"{% url 'judge:problem_details' solution.problem.id%}">
									{{ solution.problem.title }}
								</a>
							</td>
						</tr>
						<tr>
							<th> Author </th>
							<td>{{ solution.user.username }}</td>
						</tr>
						<tr>
							<th>Message</th>
							<td>{{ solution.grader_message }} </td>
						</tr>
						<tr>
							<th>Points</th>
							<td>
								{{ solution.score|floatformat }} /
								{{ solution.problem.max_score|floatformat }}
							<td>
						</tr>
						<tr>
							<th>Source</th>
							<td>
								<a href="{% url 'judge:solution_source' pk %}">
									View source
								</a>
							</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>

{% endblock content %}
