{% extends base_template  %}

{% load bootstrap3 %}
{% load base %}

{% block title %}
<h1> Solution Details </h1>
{% endblock %}

{% block navbar %}
	{% base_nav page='judge' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading"> Result </div>

			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th> # </th>
							<th> Points </th>
							<th> Message </th>
							<th> Execution time</th>
						</tr>
					</thead>

					<tbody>
						{% for result in solution.testresult_set.all %}

							{% if result.score == result.test.points %}
							<tr class="success">
							{% elif result.score > 0 %}
							<tr class="warning">
							{% else %}
							<tr>
							{% endif %}

								<th>{{ forloop.counter }}</th>
								<td>{{ result.score }}</td>
								<td>{{ result.message }}</td>
								<td>{{ result.exec_time }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Information</div>

			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr>	
							<th> Task </th>
							<td>
								<a href=
									"{% url 'judge:problem_details' solution.problem.id%}">
									{{ solution.problem.title }}
								</a>
							</td>
						</tr>
						<tr>
							<th> Author </th>
							<td>{{ solution.user.username }}</td>
						</tr>
						<tr>
							<th>Message</th>
							<td>{{ solution.grader_message }} </td>
						</tr>
						<tr>
							<th>Points</th>
							<td>
								{{ solution.score }} /
								{{ solution.problem.maxScore }}
							<td>
						</tr>
						<tr>
							<th>Source</th>
							<td>
								<a href="{% url 'judge:solution_source' pk %}">
									View source
								</a>
							</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>

{% endblock content %}
