{% if tests %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>
				<input type="checkbox" class="select-all" 
						   selection=".{{ select_class }}">
				Select all
			</th>
			<th>Time limit</th>
			<th>Memory limit</th>
			<th>Points</th>
			<th>Input</th>
			<th>Output</th>
			<th>Edit</th>
			<th class="text-warning">Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for test in tests %}
			<tr>
				<td>
					<input type="checkbox" name="test-select"
						class="{{ select_class }}" value="{{ test.pk }}"
						{% if test in selected %} checked {% endif %}>
					{{ test.pk }}
				</td>
				<td> {{ test.time_limit|floatformat }} sec </td>
				<td> {{ test.mem_limit }} MB </td>
				<td> 
					{% if test.test_group_id %}
						-
					{% else %}
						{{ test.score|floatformat }} 
					{% endif %}
				</td>
				<td>
					<a href="{% url 'judge:test_input' test.pk %}">
						Input
					</a>
				</td>
				<td>
					<a href="{% url 'judge:test_output' test.pk %}">
						Output
					</a>
				</td>
				<td>
					<a href="{% url 'judge:test_edit' test.pk %}"
						class="btn btn-primary btn-xs btn-block">
						Edit
					</a>
				</td>

				<td>
					<a href="{% url 'judge:test_delete' test.pk %}" 
						class="btn btn-warning btn-xs btn-block">
						Delete
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>No tests</p>
{% endif %}
