{% extends 'judge/problem_edit_base.html' %}

{% load judge %}
{% load bootstrap3 %}

{% block title %}
	<h1>Edit tests</h1>
{% endblock %}

{% block edit_content %}

	<form method="POST" action="{{ request.get_full_path }}">
		{% csrf_token %}
		{% bootstrap_form form %}

		<input type="submit" name="update" value="Set settings" 
				class="btn btn-default btn-block">
		<input type="submit" name="delete" value="Delete tests"
			class="btn btn-warning btn-block">


		{% for group, tests in tests_by_group.items %}
			<h3>
				{% if group %}
					{{ group.name }}
				{% else %}
					No Test group
				{% endif %}
			</h3>
			{% if group %}
				{% test_select tests select_class=group.pk %}
			{% else %}
				{% test_select tests %}
			{% endif %}
		{% endfor %}
	</form>
{% endblock %}

{% block edit_nav %}
	{% problem_edit_nav page='tests' %}
{% endblock %}


