{% extends 'judge/problem_edit_base.html' %}

{% load judge %}
{% load bootstrap3 %}

{% block title %}
	<h1>Edit tests</h1>
{% endblock %}

{% block edit_content %}

	<form method="POST" action="{{ request.get_full_path }}">
		{% csrf_token %}
		{% bootstrap_form form %}

		<input type="submit" name="update" value="Set settings" 
				class="btn btn-primary btn-block">
		<input type="submit" name="delete" value="Delete tests"
			class="btn btn-warning btn-block">

		<hr>
		<a href="{% url 'judge:test_group_new' problem_pk %}"
			class="btn btn-block btn-default">
			New Test group
		</a>
		<hr>

		{% for group, tests in tests_by_group %}
			<div class="panel panel-default">
				{% if group %}
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-3 col-md-6">
								<p class="lead">
									{{ group.name }}
								</p>
							</div>
							<div class="col-sm-3 col-md-2" >
									{{ group.score|floatformat }} points
							</div>

							<div class="col-sm-3 col-md-2">
								<a href="{% url 'judge:test_group_edit' group.pk %}"
									class="btn btn-primary btn-sm btn-block">
									Edit
								</a>
							</div>
							<div class="col-sm-3 col-md-2">
								<a href="{% url 'judge:test_group_delete' group.pk %}"
									class="btn btn-warning btn-sm btn-block">
									Delete
								</a>
							</div>
						</div>
					</div>
					<div class="panel-content">
						{% test_select tests select_class=group.pk %}
					</div>
				{% else %}
					<div class="panel-heading">
						<h3>No Test group</h3>
					</div>
					<div class="panel-content"> 
						{% test_select tests %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</form>
{% endblock %}

{% block edit_nav %}
	{% problem_edit_nav page='tests' %}
{% endblock %}


