{% extends 'judge/problem_edit_base.html' %}
{% load judge %}
{% load bootstrap3 %}

{% block title %}
	<h1> {{ title }} </h1>
{% endblock %}

{% block edit_nav %}
	{% problem_edit_nav page='test_new' %}
{% endblock %}

{% block edit_content %}
	<form class="form-horizontal" enctype="multipart/form-data" 
			 method = "POST" action ="{{request.get_full_path}}">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input class="btn btn-primary btn-block" type="submit" value="submit">
	</form>
{% endblock %}
