{% load bootstrap3 %}
{% load base %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any
	other head content must come *after* these tags -->
	<title>Judge system</title>
	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css"
	   rel="stylesheet">
	<style>
		.tag-label {
			margin: 5px;
			float: right;
		}
	</style>
</head>
<body style="padding-top: 75px;">
	{% block navbar %}
		{% base_nav %}
	{% endblock navbar %}

	<div class="container">
		{% bootstrap_messages %}

		{% block header-div %}
			<div class="page-header">
				{% block title %}{% endblock %}
			</div>
		{% endblock %}

		{% block content %}{% endblock %}
	</div>

	{% bootstrap_javascript jquery=1 %}
	{% block javascript %}

	{% endblock %}
</body>
</html>
